# Gradle build output
build/
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Compiled classes & archives
*.class
*.jar
*.war

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.eclipse/
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Env secrets — NUNCA subir
.env
.env.local

# Docker override local
docker-compose.override.yml

# Spring Boot DevTools restart trigger
.reloadtrigger
